doctype
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(meta http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        title Pesthunter
        link(rel='stylesheet', href='app.css')
    body
        header
            .header-wrap
                .header-menu
                    a(href="#")
                .header-logo
                    a(href="#" title="")
                        img(src="/images/logo.png")
                .header-nav
                    ul.header-nav-menu
                        li
                            a(href="#whowe") О нас
                        li
                            a(href="#services") Услуги
                        li
                            a(href="#price") Цены
                        li
                            a(href="#contact") Контакты
                .header-contact
                    p
                        span +7 (777) 777 77 77
                    .contact-phone-btn.callback-trigger(href='#')
                        a(href="#") Заказать звонок
                    p
                        span «БЦ Нурлы-Тау» проспект Аль-Фараби, 19 блок 3Б, 8 этаж



            .header-background
                img(src="/images/underlogo.png")

        .body-content
            section.welcome-section
                .welcome-section-background
                    img(src="/images/desinsection_logo_main.png")

                .container.welcome-section-wrap
                    .welcome-section-title.section-title Профессионализм и качество

                    .welcome-section-description.section-description
                        p Гарантированный эффект уничтожения вредителей и насекомых.
                    .welcome-section-actions
                        a.welcome-button.button-submit.callback-trigger(href='#') заказать
                        a.welcome-button.button-download(href='#') скачать прайс
            
            section.about-us-section
                .about-us-section-background
                    img(src='images/whyWeLogo.png', alt='')
                .container.limiter-1360x.about-us-section-wrap
                    .about-us-section-left
                    .about-us-section-right
                        .about-us-section-title.section-title#whowe Кто мы?
                        .about-us-section-description.section-description
                            p
                                | Команда сертифицированных профессионалов,
                                | каждый день мы боремся за комфорт наших клиентов.
                            p
                                | Многолетний опыт работы, использование только 
                                | качественной химии и профессионального оборудования
                                | дает нам возможность с гордостью говорить о том, что
                                | наша работа выполняется на высочайшем уровне.
                            p
                                | Сервис и лояльность наших клиентов — это то, чем мы
                                | дорожим, поэтому мы никогда не пренебрегаем
                                | пожеланиями клиента.
                            p
                                | Мы гарантируем моментальный результат наших работ!
            
            section.how-work-section
                .how-work-wrap.container
                    div(style="text-align: center")
                        .how-work-section-title.section-title Как мы работаем?
                    .how-work-section-description
                        .how-work-items
                            .how-work-item
                                .work-item-image
                                    img(src='images/item1.png', alt='')
                                .work-item-title Звонок или заявка с сайта
                                .work-item-number 01
                            .how-work-item
                                .work-item-image
                                    img(src='images/item2.png', alt='')
                                .work-item-title Бесплатный выезд специалиста
                                .work-item-number 02
                            
                            .how-work-item
                                .work-item-image
                                    img(src='images/item3.png', alt='')
                                .work-item-title Анализ степени заражения и подбор средств
                                .work-item-number 03

                            .how-work-item
                                .work-item-image
                                    img(src='images/item4.png', alt='')
                                .work-item-title Выбор даты и времени дезинсекции
                                .work-item-number 04                           
                            
                            .how-work-item
                                .work-item-image
                                    img(src='images/item5.png', alt='')
                                .work-item-title Обработка и механическая очистка помещения
                                .work-item-number 05

                            .how-work-item
                                .work-item-image
                                    img(src='images/item6.png', alt='')
                                .work-item-title Получение инструкций и рекомендаций
                                .work-item-number 06

                            .how-work-item
                                .work-item-image
                                    img(src='images/item7.png', alt='')
                                .work-item-title Счастливый клиент
                                .work-item-number 07

                .how-work-back-spider
                    img(src="images/spider.png", alt='')

            section.services
                h1#services Услуги
                p
                    | Обслуживание коммерческих помещений, складов,
                    br
                    | технических помещений, помещений общественного питания.
                .container.limiter-1360x.work_services
                    .sliders 
                        .slider
                            .slider-bg(style="background-image: url('images/slider1.png')")
                            .slider_text
                                h3 Уничтожение муравьев
                                a.button.submit.callback-trigger(href='#') заказать
                        .slider
                            .slider-bg(style="background-image: url('images/slider2.png')")
                            .slider_text
                                h3 Уничтожение пауков
                                a.button.submit.callback-trigger(href='#') заказать
                        .slider
                            .slider-bg(style="background-image: url('images/slider3.png')")
                            .slider_text
                                h3 Уничтожение клещей
                                a.button.submit.callback-trigger(href='#') заказать
                        .slider
                            .slider-bg(style="background-image: url('images/slider4.png')")
                            .slider_text
                                h3 Уничтожение тараканов
                                a.button.submit.callback-trigger(href='#') заказать
                        .slider
                            .slider-bg(style="background-image: url('images/slider5.png')")
                            .slider_text
                                h3 Уничтожение постельных клопов
                                a.button.submit.callback-trigger(href='#') заказать
                        .slider
                            .slider-bg(style="background-image: url('images/slider6.png')")
                            .slider_text
                                h3 Уничтожение крыс
                                a.button.submit.callback-trigger(href='#') заказать
                        .slider
                            .slider-bg(style="background-image: url('images/slider7.png')")
                            .slider_text
                                h3 Уничтожение древесных клопов
                                a.button.submit.callback-trigger(href='#') заказать

            section.why-we-section
                .why-we-wrap.container
                    div(style="text-align: center")
                        .why-we-section-title.section-title Почему мы?
                    .why-we-section-description
                        .why-we-items
                            .why-we-item
                                .we-item-image
                                    img(src='images/whymelogo1.png', alt='')
                                .why-item-description
                                    .we-item-title Оперативность
                                    .we-item-text Выезд мастера в день обращения

                            .why-we-item
                                .we-item-image
                                    img(src='images/whymelogo2.png', alt='')
                                .why-item-description
                                    .we-item-title Безопасность
                                    .we-item-text Безопасные химические составы

                            .why-we-item
                                .we-item-image
                                    img(src='images/whymelogo3.png', alt='')
                                .why-item-description
                                    .we-item-title Конфиденциальность
                                    .we-item-text Никто не узнает о вашей проблеме

                            .why-we-item
                                .we-item-image
                                    img(src='images/whymelogo4.png', alt='')
                                .why-item-description
                                    .we-item-title Новейшие технологии
                                    .we-item-text Мы используем технологии холодного и горячего тумана

                            .why-we-item
                                .we-item-image
                                    img(src='images/whymelogo5.png', alt='')
                                .why-item-description
                                .we-item-title Профессионализм
                                .we-item-text Специалисты со стажем работы свыше 5 лет

                            .why-we-item
                                .we-item-image
                                    img(src='images/whymelogo6.png', alt='')
                                .why-item-description
                                    .we-item-title Гарантия
                                    .we-item-text Гарантия результата до 3-х лет

            section.price-section
                .price-section-wrap.container
                    div(style="text-align: center")
                        .price-section-title.section-title#price Прайс лист
                    .price-section-content
                        table.price-table
                            thead
                                tr
                                    th Площадь помещения, м²
                                    th Разовая обработка
                                    th Последующие обработки
                                    th Постоянная обработка
                            tbody
                                tr
                                    td до 100 м²
                                    td  
                                    td  
                                    td  
                                tr
                                    td от 101 - 200 м²
                                    td  
                                    td  
                                    td 
                                tr
                                    td от 201 - 500 м²
                                    td  
                                    td  
                                    td 
                                tr
                                    td от 501 - 1000 м²
                                    td  
                                    td  
                                    td 
                                tr
                                    td Свыше 1000 м²
                                    td  
                                    td  
                                    td 

            section.contact-us-section
                .contact-us-background
                    img(src='images/form_background.png', alt='')
                .contact-us-wrap.container
                    .contact-us-form
                        .form-overlay
                        .bug-image
                            img(src='images/bug.png')
                        .contact-us-form-title Оставьте заявку на бесплатный вызов специалиста!
                        form#contact_us(action='/callback.json')
                            input(type='text', name='name', placeholder='Имя' required='required')
                            input(type='text', name='phone', placeholder='Телефон' required='required' data-mask="+7 (000) 000 0000")
                            button(type="submit") Заказать

        footer
            .footer-wrap.container#contact
                .footer-leftside
                    a.footer-logo(href="#")
                        img(src='images/logo.png', alt='', href="#")
                .footer-rightside
                    .footer-title Контакты
                    .footer-description
                        p
                            label Адрес
                            span «БЦ Нурлы-Тау» проспект Аль-Фараби, 19 блок 3Б, 8 этаж
                        p
                            label Телефон
                            span +7 (777) 777 77 77
                        p
                            label Email
                            span info@pesthunter.kz

        .copyright
            h6 Все права защищены 
            p 2018

        #CallbackComponent(
                actions!="{{ json_encode(['submit' => '/callback.json']) }}"
                triggerClass=".callback-trigger"
                title="Закажите консультацию")
            
        #CongratsComponent(
            triggerClass=".congrats-trigger")

        #MenuComponent(triggerclass=".menu-modal-trigger")
            
        div(style="display: none" class="congrats-trigger")
        div(style="display: none" class="menu-modal-trigger")    

        script(src='app.js' type='text/javascript')
