@import 'nib'
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic')
global-reset()

@import 'ui.styl'

@import "~slick-carousel/slick/slick.css"
@import "~slick-carousel/slick/slick-theme.css"


body
    background-color #f2f1f1
    font-family 'Roboto', sans-serif
    font-size 14px
    width 100%
    height 100%
    min-width: 400px

.navicon {
  float: right;
  transform: rotate(90deg);
  display: none;
}

.container
    width 990px
    margin-left auto
    margin-right auto
    padding-left 15px
    padding-right 15px

    &.limiter-1360x
        width 1360px
    &.limiter-768x
        width 768px
    &.limiter-x
        width 480px
    &.limiter-330x
        width 330px

    @media screen and (max-width: 1360px)
        width 990px !important
    @media screen and (max-width: 990px)
        width 768px !important
    @media screen and (max-width: 768px)
        width 480px !important
    @media screen and (max-width: 480px)
        width 330px !important


section
    width 100%
    display block
    clearfix()

    .section-title
        font-size 2.7rem
        font-weight bold
        font-family 'Roboto', sans-serif
        display inline-block
        position relative

        @media screen and (max-width: 768px)
            font-size 2.2rem

        &:after
            content '\a'
            width 67px
            border-bottom 3px solid #ff6333
            display block
            margin 20px 0px

header
    width 100%

    .header-wrap
        padding 20px 40px

        display flex
        flex-direction row
        align-items center
        justify-content space-between

        position relative
        z-index 9

    .header-menu
        display none

        @media screen and (max-width: 860px)
            display block

        a
            width 40px
            height 40px
            background-image url('/images/header-menu-button.png')
            background-repeat no-repeat
            background-position center center
            display block

    .header-logo
        img
            width 150px

    .header-nav
        margin-left 100px
        margin-right auto

        @media screen and (max-width: 860px)
            display none

        li
            display inline-block

        a
            color #666
            font-family Roboto
            font-weight bold
            font-size 1.2rem
            display block
            padding 0px 25px


    .header-background
        position absolute
        z-index 0
        top 0
        left 0

        img
            width 250px

.welcome-section
    padding 180px 0px

    @media screen and (max-width: 1100px)
        padding 160px 0px
    @media screen and (max-width: 990px)
        padding 140px 0px
    @media screen and (max-width: 768px)
        padding 120px 0px 60px

    .welcome-section-background
        width 100%
        height 100%
        text-align right
        position absolute
        z-index -1
        top 0
        right 0

        img
            max-width 70%
            display inline
            opacity 0.3

        @media screen and (max-width: 768px)
            img
                max-width 60%
        @media screen and (max-width: 768px)
            img
                max-width 90%

            top 100px

    .welcome-section-title
        color #515151

    .welcome-section-description
        max-width 70%
        color #515151
        font-size 1.6rem;
        font-weight 400
        line-height 28px
        margin-top 40px
        clearfix()

        @media screen and (max-width: 768px)
            max-width 100%
            font-size 1.2rem
            line-height 22px
            display block

            margin-top 20px

    .welcome-section-actions
        margin-top 60px

        @media screen and (max-width: 768px)
            margin-top 40px

    .welcome-button
        font-size 1rem
        font-weight 500
        text-align center
        text-transform uppercase
        padding 25px 50px
        border-radius 5px
        box-shadow 0px 0px 100px 1px rgba(0,0,0,0.1)
        display inline-block

        @media screen and (max-width: 768px)
            display block

    .button-submit
        color #FFF
        background-color #c13a3a

    .button-download
        color #515151
        background-color #fcfcfc

        margin-left 20px

        @media screen and (max-width: 768px)
            margin-top 15px
            margin-left 0px

.about-us-section
    padding 100px 0px
    position relative

    @media screen and (max-width: 990px)
        padding 60px 0px

    .about-us-section-background
        width 100%
        height 100%
        position absolute
        top 0
        left 0

        @media screen and (max-width: 768px)
            top 120px
        @media screen and (max-width: 468px)
            top 200px

        img
            max-width 100%
            opacity 0.3

    .about-us-section-wrap
        display flex
        flex-direction row
        align-items center
        justify-content space-between

        @media screen and (max-width: 990px)
            justify-content center

    .about-us-section-left
        flex-basis 50%

        @media screen and (max-width: 990px)
            flex-basis 0%

    .about-us-section-right
        flex-basis 50%

        @media screen and (max-width: 990px)
            flex-basis 100%

    .about-us-section-title
        /* wasp image */
        &:before
            content "\a"
            width 200px
            height 200px
            background-image url('/images/wasp.png')
            background-repeat no-repeat
            background-size 100% auto
            display block

            position absolute
            top -100px
            right -250px

            @media screen and (max-width: 990px)
                width 180px
                height 180px

                top -80px
                right -150px

            @media screen and (max-width: 768px)
                width 150px
                height 150px

                top -50px
                right -180px

    .about-us-section-description
        font-size 1.4rem
        line-height 28px

        position relative

        /* cockroach */
        &:after
            content "\a"
            width 200px
            height 200px
            background-image url('/images/cockroach.png')
            background-repeat no-repeat
            background-size 100% auto
            display block

            position absolute
            bottom -200px
            left -200px

            @media screen and (max-width: 990px)
                width 150px
                height 150px

                right 0
                left auto
                bottom -140px


        @media screen and (max-width: 768px)
            font-size 1.2rem
            line-height 24px

        p
            margin-top 25px

            @media screen and (max-width: 768px)
                margin-top 15px

            &:first-of-type
                margin-top 0


.how-work-section
    padding 100px 0px

    h1
        display: inline-block;
        font-size: 3rem;
        color: #515151;
        margin-bottom: 80px;

        &:after
            content: ' ';
            border-bottom: 3px solid #ff6333;
            display: block;
            width: 66px;
            padding-bottom: 36px;

    &-title
        display block !important
        text-align center

        &:after
            width 100% !important

    &-description
        margin-top 50px

    .how-work-items
        display flex
        flex-wrap wrap
        flex-direction row
        align-items center
        justify-content space-between
        margin-top -100px

        @media screen and (max-width: 500px)
            margin-top -50px

    .how-work-item
        flex-basis 33%
        text-align center
        margin-top 100px
        position relative

        @media screen and (max-width: 500px)
            flex-basis 100%
            margin-top 50px

        &:last-child
            margin 100px auto

        .work-item-title
            font-family 'Roboto', sans-serif
            font-size 1rem
            font-wight 400
            line-height 20px
            margin-top 15px

        .work-item-number
            font-family 'Roboto', sans-serif
            font-size 1.2rem
            font-weight 100

            position absolute
            top -10px
            right -10px

    .how-work-back-spider
        position absolute
        left 0

        img
            width 100%
            opacity 0.4

.why-we-section
    padding 100px 0

    .why-we-items
        display flex
        flex-wrap wrap
        flex-direction row
        align-items center
        justify-content space-between

        .we-item-image
            float left

            @media screen and (max-width: 800px)
                float none

    .why-we-item
        flex-basis 33%
        text-align center
        margin-top 100px
        position relative

        @media screen and (max-width: 1024px)
            flex-basis 50%

        @media screen and (max-width: 800px)
            flex-basis 100%

        .we-item-title
            font-family 'Roboto', sans-serif
            font-size 1.3rem
            font-weight 700
            line-height 20px
            margin-top 15px

        .we-item-text
            font-family 'Roboto', sans-serif
            font-size 0.9rem
            font-weight 400
            margin-top 8px
            text-align center


.services
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 0 0;

    h1
        display: inline-block;
        font-size: 3rem;
        color: #515151;
        margin-bottom: 80px;

        &:after
            content: ' ';
            border-bottom: 3px solid #ff6333;
            display: block;
            width: 66px;
            padding-bottom: 36px;

    p
        font-size 1.3rem
        text-align center
        margin-bottom 50px

    .slider
        width 270px !important
        height 400px
        margin 20px
        position: relative;


        .slider-bg
            width 100%
            height 100%
            background-size cover
            background-position center center
            position absolute
            z-index 0
            top 0
            left 0


        .slider_text
            width 100%
            height 100%
            display flex
            flex-direction column
            justify-content space-between
            align-items center
            padding 60px 30px
            position relative
            z-index 1

        h3
            font-family: 'Roboto' sans-serif;
            font-size: 1.7rem;
            line-height 28px
            color: white;

    .slick-prev:before
    .slick-next:before
        color #999
        font-size 40px
        opacity 1

.price_list h1{
    display: inline-block;
    font-size: 50px;
    color: #515151;
}

.price_list h1:after{
    content: ' ';
    border-bottom: 3px solid #ff6333;
    display: block;
    width: 66px;
    padding-bottom: 36px;
    margin-bottom: 145px;
}

.whywelogo{
    float: left;
    margin-right: 40px;
    position: relative;
    max-width: 20%;
}

.whywetext-container {
    float: left;
    text-align: left;
    max-width: 67%;
}

.whywetext {
    font-size: 30px;
    color: #515151;
    margin-bottom: 10px;
    display: inline-block;
}

.about_whywe{
    font-size: 18px;
    color: #6e6e6e;
    float: center;
}

.price-section

    .price-section-content
        overflow-x auto

    .price-table
        width: 100%;
        border-collapse: collapse;
        border-top: hidden;
        border-right: hidden;
        border-left: hidden;
        border-bottom: hidden;
        background-color #FFFFFF
        box-shadow 0 0 50px 0 rgba(0,0,0,0.5)

        td
        th
            border: 1px solid #d3d3d3;
            padding: 35px 20px

        td
            color: #626262;
            font-size 1rem

        th
            color: #515151;
            font-size: 26px;
            font-weight: 400;

.contact-us-section
    padding 150px 0
    position relative

    .contact-us-background
        width 100%
        height 100%
        text-align right
        position absolute
        bottom 0
        z-index -1
        opacity 0.3

        img
            max-width 50%

    .contact-us-form
        width 380px
        padding 50px
        background-color #40587c
        text-align center
        position relative

        @media screen and (max-width: 768px)
            width 100%
            margin 0 auto

    .contact-us-form-title
        color white
        font-family Roboto
        font-size 1.8rem
        font-weight bold
        line-height 30px
        text-align center
        margin-bottom 30px

    .form-overlay
        width 100%
        height 100%
        display none
        position absolute
        top 0
        left 0
        background-color rgba(255,255,255,0.5)

    input[type="text"]
        width 100%
        padding 20px 25px
        border-radius 4px
        margin-top 20px

        &:first-of-type
            margin-top 0px

    button
        width 100%
        padding: 20px 25px;
        background-color: #c13a3a;
        color: white;
        border: none;
        border-radius 4px
        margin-top 25px
        font-size: 20px;
        text-transform: uppercase;

    .bug-image
        position absolute
        top -100px

        img
            max-width 80%

footer
    padding 60px 0px
    background-color #c5dec7

    .footer-wrap
        display flex
        flex-wrap wrap
        flex-direction row
        justify-content space-between
        align-items center

    .footer-leftside
        flex-basis 30%
        text-align center

        @media screen and (max-width 990px)
            flex-basis 100%
            order 2
            margin-top 30px

    .footer-rightside
        flex-basis 60%

        @media screen and (max-width 990px)
            flex-basis 100%
            order 1

    .footer-logo
        img
            width 180px

    .footer-title
        font-size 1.8rem
        text-align left

    .footer-description
        font-size 1rem
        text-align left
        margin-top 30px

        p
            margin-top 10px

            &:first-of-type
                margin-top 0px

        label
            width 80px
            font-weight 500
            text-align left
            display inline-block

        span
            font-weight 300
            line-height 22px

.copyright {
    margin-top: 40px;
    padding: 40px;
    text-align: center;
}

h6 {
    font-size: 16px;
    color: #515151;
    margin-bottom: 26px;
}

h2
    display: inline-block;
    font-size: 50px;
    color: #515151;
    margin-bottom: 80px;

    &:after
        content: ' ';
        border-bottom: 3px solid #ff6333;
        display: block;
        width: 66px;
        padding-bottom: 36px;