* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


button{
    font-family: 'Roboto', sans-serif;
}

.submit{
    text-transform: uppercase;
    padding: 30px 62px;
    border-radius 5px
    background: #c13a3a;
    margin-right: 53px;
    color: white;
    display: inline-block;
}

.download{
    text-transform: uppercase;
    padding: 30px 28px;
    background: #fcfcfc;
    margin-right: 53px;
    color: #515151;
    display: inline-block;
    border-radius 5px
}

